# Ignore all files by default
*

# White list only the required files
!config.json
docker-compose.debug.yml
!docker-entrypoint.sh*
Dockerfile
!generate-dotenv.js*
!crontab.js
!zipsyncdir
!package-app.json
!lws.config.js
!public
public/*
!public/*.ini
!public/Makefile
